<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Next Generation Sequencing Calculator to help figure our your sample to flow cell requirements.">
  <meta name="author" content="Stephan Smith">
  <link rel="icon" type="image/png" href="https://meenta.io/images/favs/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="https://meenta.io/images/favs/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="https://meenta.io/images/favs/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="https://meenta.io/images/favs/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="https://meenta.io/images/favs/favicon-128.png" sizes="128x128" />
  <title>NGS Coverage Calculator</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/sticky-footer-navbar.css" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
  <div style="background-color: #2977D2 !important;" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <a href="/">
        <img src="https://meenta.io/images/logo-small-white.png">
      </a>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3" >
      <a class="btn btn-light btn-sm" href="https://map.meenta.io?utm_source=calculator&utm_medium=header" target="_blank">Our NGS Map
        &nbsp;
        <i class="fas fa-arrow-right"></i>
      </a>
    </nav>
  </div>

  <main role="main" style="padding-top: 0px;" class="container" ng-app="calculators" ng-controller="advanced">

    <div class="col-md-12">
      <h2 class="mt-4 d-none d-md-block">
        NGS Coverage Calculator
      </h2>

      <p class="lead mt-2">
        This provides the ability to evaluate the coverage needed
        for pool libraries for different applications. It provides
        a summary and a list of instruments and cycles capible of
        providing the require per library reads.
      </p>

      <form name="form" novalidate>
        <div class="row">
          <div class="col-md-4 mb-3 text-right">
            Select material?
          </div>
          <div class="col-md-3 mb-3">
            <select class="form-control" id="material" required name="material" aria-label="Material" ng-model="parameters.material" aria-describedby="Material">
              <option value="">Select Spec</option>
              <option value="human">Human</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3 text-right">
            Application?
          </div>
          <div class="col-md-5 mb-3">
            <select class="form-control custom-select" required id="application" name="application" ng-model="parameters.application" aria-label="Genome Size (Gb)" aria-describedby="genome">
              <option value="">Select Material and Application</option>
              <optgroup label="{{ key | uppercase }}" ng-repeat="(key, item) in applications | groupBy:'type'">
                <option value="{{ rec.key }}" ng-repeat="rec in item">
                  {{ rec.title }} (min reads: {{ rec.requiredReads }}{{ rec.units }})
                </option>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-3 text-right">
            Number libraries?
          </div>
          <div class="col-md-2 mb-3">
            <div class="input-group mb-2">
              <input type="number" class="form-control" required ng-model="parameters.numOfLibraries" placeholder="Number Of Libraries" aria-label="Number Of Libraries" aria-describedby="# of Libraries">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-1 col-md-3 mb-3 text-right">
            What coverage do you need?
          </div>
          <div class="col-md-2 mb-3">
            <div class="input-group mb-2">
              <select class="form-control" ng-model="parameters.coverage" required aria-label="Coverage" aria-describedby="coverage">
                <option value="10">10x</option>
                <option value="15">15x</option>
                <option value="20">20x</option>
                <option value="30">30x</option>
                <option value="50">50x</option>
                <option value="100">100x</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="execute()">
              Calculate Coverage
            </button>
          </div>
          <div class="col-md-9 text-right">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="showCoverageTable" ng-model="parameters.settings.showCoverageTable">
              <label class="form-check-label" for="showCoverageTable">
                Show Coverage Table
              </label>
            </div>
            &nbsp;
            &nbsp;
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="showInstruments" ng-model="parameters.settings.showInstruments">
              <label class="form-check-label" for="showInstruments">
                Show Instrument Details
              </label>
            </div>
            &nbsp;
            &nbsp;
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="showInstruments" ng-model="parameters.settings.showIlluminaSpecifications">
              <label class="form-check-label" for="showInstruments">
                Show Illumina Specs
              </label>
            </div>
            &nbsp;
            &nbsp;
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="showAllResults" ng-model="parameters.settings.showAllResults">
              <label class="form-check-label" for="showAllResults">
                Show All Results
              </label>
            </div>
          </div>
        </div>

      </form>

      <br>

      <div class="row" ng-if="recommendations">
        <div class="col-md-12">
          <h4>Summary:</h4>
          <p class="alert alert-info">
            Your pool of <b>{{ parameters.numOfLibraries }}</b> libraries for <b>{{ parameters.applicationData.title }}</b>
            application, and a minimum coverage of <b>{{ parameters.coverage }}x</b>, needs total of <b>100Gb</b>
            of reads. (Note: assumes applications has {{ parameters.applicationData.requiredReads }}M reads.)
            The following instruments and cycles will meet your data requirements.
          </p>

          <div ng-if="parameters.settings.showInstruments">
            <div ng-repeat="(instrumentKey, instrument) in tmpInstruments">
                <h5>
                  {{ instrumentKey | instrumentName }}
                </h5>
                <table class="table table-striped">
                  <tr>
                    <th width="15%" align="center">Mode</th>
                    <th width="15%" align="center" ng-if="parameters.settings.showIlluminaSpecifications">Ill Reads</th>
                    <th width="15%" align="center" ng-if="parameters.settings.showIlluminaSpecifications">Ill. Output</th>
                    <th width="15%" align="center" ng-if="parameters.settings.showIlluminaSpecifications">Predicted clusters per library (M)</th>
                    <th width="15%" align="center">Clusters <i class="fas fa-info-circle"></i></th>
                    <th width="15%" align="center">Output <i class="fas fa-info-circle"></i></th>
                    <th width="15%" align="center">Clusters per Library <i class="fas fa-info-circle"></i></th>
                    <th width="15%" align="center">
                      Effective Coverage <i class="fas fa-info-circle"></i>
                    </th>
                  </tr>
                  <tr ng-repeat="i in instrument" ng-if="i.output.isViable || parameters.settings.showAllResults" ng-class="{ 'table-success': parameters.coverage <= i.output.coveragePerGenome }">
                    <td align="center">
                      {{ i.data.mode | modeName }}
                    </td>

                    <td align="center" ng-if="parameters.settings.showIlluminaSpecifications">
                      {{ i.data.reads }}
                    </td>
                    <td align="center" ng-if="parameters.settings.showIlluminaSpecifications">
                      {{ i.data.output }}
                    </td>
                    <td align="center" ng-if="parameters.settings.showIlluminaSpecifications">
                      {{ i.output.readsPerLibary * 1000 | number:2 }} M
                    </td>
                    <td>
                      {{ i.output.actualReads * 1000 | number: 2 }} M
                    </td>
                    <td>
                      {{ i.output.actualOutput }} Gb
                    </td>
                    <td>
                      {{ i.output.predReads * 1000 | number: 2 }} M
                    </td>
                    <!-- <td>
                      {{ i.output.outputPerGenome | number: 2 }}
                    </td> -->
                    <!-- <td>
                      {{ i.output.outputPerGenomeWithDedup | number: 2 }}
                    </td> -->
                    <td align="center" ng-class="{ 'table-success': i.output.isViable }">
                      {{ i.output.coveragePerGenome | number: 2 }}x
                    </td>
                  </tr>
                </table>
            </div>
          </div>
          <i ng-if="parameters.labReadAdjustment === 1">
            Notes: Reads and Output using Illumina specifications.
          </i>
          <i ng-if="parameters.labReadAdjustment !== 1">
            Notes: Reads and Output are {{ parameters.labReadAdjustment }}% of Illumina specifications.
          </i>

        </div>
      </div>

      <div class="row" style="display: none">
        <div class="col-md-4 mb-4">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="genome">Gb</span>
            </div>
            <input type="number" class="form-control" ng-model="parameters.genome" placeholder="Genome Size (Gb)" aria-label="Genome Size (Gb)" aria-describedby="genome">
          </div>
          <div class="input-group mb-2 d-none d-md-block">
            <small class="text-muted"><i>Hint: Human Whole Genome ranges from 2.7 to 3.3 Gb.</i></small>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2">Duplication Tolerance</span>
            </div>
            <input type="number" class="form-control" ng-model="parameters.dupTolerance" placeholder="2" aria-label="Duplication Tolerance" aria-describedby="dupTolerance">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">%</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2">Lab Read Adj.</span>
            </div>
            <input type="number" class="form-control" id="labReadAdjustment" name="labReadAdjustment" ng-model="parameters.labReadAdjustment" placeholder="%" aria-label="Lab Read Adjustment" aria-describedby="Lab Read Adjustment">
            <div class="input-group-append">
              <span class="input-group-text" id="labReadAdjustment">%</span>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="row" ng-if="parameters.settings.showCoverageTable">
        <div class="col-md-12">
          <h4>
            Output Required by Coverage (for {{ parameters.numOfLibraries }} Libraries)
          </h4>

          <small>
            Use this table to determine that Giga based you need for sample.
          </small>

          <table class="table table-bordered table-hover table-striped">
            <thead>
              <tr>
                <th width="10%" style="vertical-align: middle; text-align: center;" align="center">Coverage</th>
                <th width="15%" style="vertical-align: middle; text-align: center;" align="center">Required Mb</th>
                <th width="15%" style="vertical-align: middle; text-align: center;" align="center">Required Gb</th>
                <th width="15%" style="vertical-align: middle; text-align: center;" align="center">Total Gb Required</th>
                <th width="15%" style="vertical-align: middle; text-align: center;" align="center">Total Gb Required with Duplication</th>
              </tr>
            </thead>
            <tr ng-repeat="rec in coverageData" ng-class="{ 'table-success': parameters.coverage == rec.coverage }">
              <td align="center">
                {{ rec.coverage }}X
              </td>
              <td align="center">
                {{ rec.requiredMb | number: 0 }} Mb
              </td>
              <td align="center">
                {{ rec.requiredGb | number: 2 }} Gb
              </td>
              <td align="center">
                <b>{{ rec.totalGbRequired | number: 1 }} Gb</b>
              </td>
              <td align="center">
                <b>{{ rec.totalFbRequiredWithDup | number: 1 }} Gb</b>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
  <br>
</main>

<footer class="footer">
  <div class="container text-center">
    <span class="text-muted">&copy Meeta.io 2018</span>
    <a href="https://meenta.io" class="float-right" target="_blank">
      <img src="https://meenta.io/images/favs/favicon-32x32.png" title="Meenta.io">
    </a>
    &nbsp;|&nbsp;
    <a style="color: #000;" class="text-black" href="https://twitter.com/home?status=Check%20out%20this%20Next-Generation%20Sequencing%20Map%20from%20Meenta%20https%3A//map.meenta.io">
      <i class="fab fa-twitter"></i> Share on Twitter @MeentaNGS
    </a>
    &nbsp;|&nbsp;
    <a style="color: #000;" class="text-black" href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//map.meenta.io&title=Next-Generation%20Sequencing%20Map&summary=Check%20out%20this%20Next-Generation%20Sequencing%20Map%20from%20Meenta&source=https%3A//www.meenta.io">
      <i class="fab fa-linkedin"></i> Followup on LinkedIn
    </a>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="v2/app.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-91836384-6"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){ dataLayer.push(arguments); }
gtag('js', new Date());
gtag('config', 'UA-91836384-6');
</script>

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2910074.js"></script>
<!-- End of HubSpot Embed Code -->

<!-- Start of Crazyegg -->
<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0073/1006.js" async="async"></script>
<!-- End of Crazyegg -->

<!-- <script type="text/javascript">
function createKeenWebAutoCollector(){window.keenWebAutoCollector=window.KeenWebAutoCollector.create({projectId:'5a959314c9e77c00010a8d4d',writeKey:'425B6B69985AEEE2A48B8C548D73B990DD1D8F27A8C30F53C90E410D569E066FC5E7813641A66FF6535D88409E981BEA160170F6F552FFCDC867CC6685E81824C4A71654CBE43C93BF21E177E4A34C61B5537D5CD665E431D79D782EE282750F',onloadCallbacks:window.keenWebAutoCollector.onloadCallbacks}),window.keenWebAutoCollector.loaded()}function initKeenWebAutoCollector(){window.keenWebAutoCollector.domReady()?window.createKeenWebAutoCollector():document.addEventListener("readystatechange",function(){window.keenWebAutoCollector.domReady()&&window.createKeenWebAutoCollector()})}window.keenWebAutoCollector={onloadCallbacks:[],onload:function(a){this.onloadCallbacks.push(a)},domReady:function(){return["ready","complete"].indexOf(document.readyState)>-1}};
</script>
<script async type="text/javascript" src="https://d26b395fwzu5fz.cloudfront.net/keen-web-autocollector-1.0.8.min.js" onload="initKeenWebAutoCollector()"></script> -->

</body>
</html>
